*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url(../Images/Pasted\ image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.fa.menu-bar{
    visibility: hidden;
    color: white;
}
#header{
   background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 300px;
  align-items: center;
  margin-top: 70px;
}
#header a{
   border: 5px solid white;
   font-size: 30px;
   text-decoration: none;
   font-weight: bold;
   color: white;
   padding: 17px;
}
header {
    background-color:rgba(151, 148, 148, 0.3);
    width: 78%;
    height: 40%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}
nav{
display: flex;
font-size: 22px;
gap: 25px;
padding-right: 25px;}
nav i:hover{
    color: rgb(30,151,187);
    cursor: pointer;
}
.page-name ul{
    display: flex;
    list-style: none;
}
.page-name a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
}
.page-name .active a{
    background-color: white;
    color: black;
    text-decoration: none;
}
.page-name .active a:hover{
    color: rgb(30,151,187);
}
.page-name li a:hover{
  background-color: rgb(107,96,91);
  height: 100%;
}
.container{
    background-color: white;
    width: 78%;
    height: fit-content;
    margin: auto;
}
.date{
    padding: 120px;
 display: flex;
 justify-content: center;
 font-size: 20px;
 gap: 20px;
 color: rgb(97,102,108);
}
.date .line{
    width: 40%;
    height: 0.5px;
    background-color:rgb(97,102,108) ;
    align-self: center;
}
.container .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container .title h1{
    font-size: 50px;
    margin-top: 70px;
}
.container .title p{
    font-family:inherit;
    width: 50%;
    padding: 40px;
    text-align: center;
    color: rgb(162,149,152);
    line-height: 2;
    font-size: 17px;
}
 .container .title-img{
    align-items: center;
    width: 70%;
 }
 footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(245,245,245);
    padding: 60px;
    margin-top: 60px;

 }
 footer .form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(9,50px) ;
    color: rgb(133,139,146);
    border-right: 1px solid rgb(227,227,227) ;
 }
 .form .label-name{
    grid-area: 1/1/2/2;
    margin-top: 10px;  
 }
 .form .input-name{
    grid-area: 2/1/3/2; 
    width: 80%;
    background-color: rgb(245,245,245);
    border: 2px solid rgb(233,233,233);
   
 }
 .form .label-email{
    grid-area:3/1/4/2 ;
    margin-top: 10px;

 }
 .form .input-email{
    grid-area: 4/1/5/2;
    width: 80%;
    background-color: rgb(245,245,245);
    border: 2px solid rgb(233,233,233);
 }
 .form .label-msg{
    grid-area: 5/1/6/2;
    margin-top: 10px;

 }
 .form .input-msg{
    grid-area: 6/1/9/2;
    width: 80%;
    background-color: rgb(245,245,245);
    border: 2px solid rgb(233,233,233);
 }
 .form button{
    grid-area:9/1/10/2;
    border: 3px solid rgb(134,141,148);
    width: 30%;
    height: 50px;
    color: rgb(132,139,146);
    background-color: rgb(245,245,245);
 }
 .form button:hover{
    color: rgb(30,151,187);
    border: 2px solid rgb(30,151,187);
    cursor:pointer;
 }
 .example{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,25%);
 }
 .example .add-ex{
    color:rgb(133,139,146) ;
   display: grid;
   grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid rgb(227,227,227);
    align-content: center;
 }
 .example .add-ex .title{
    grid-area: 1/1/2/2;
    
 }
 .example .add-ex .ex{
    grid-area: 1/2/2/3;
    
 }
 .example .phone-ex{
    color:rgb(133,139,146) ;
   display: grid;
   grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid rgb(227,227,227);
    align-content: center;
 }
 .example .phone-ex .title{
    grid-area: 2/1/3/2;
    
 }
 .example .phone-ex .ex{
    grid-area: 2/2/3/3;
    border-bottom:1px dotted rgb(133,139,146);
    width: fit-content;
    
 }
 .example .phone-ex .ex:hover{
   
    color: rgb(30,151,187);
    border-bottom: none;
   
 }
 .example .email-ex{
    color:rgb(133,139,146) ;
   display: grid;
   grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid rgb(227,227,227);
    align-content: center;
 }
 .example .email-ex .title{
    grid-area: 3/1/4/2;
    
 }
 .example .email-ex .ex{
    grid-area: 3/2/4/3;
    border-bottom:1px dotted rgb(133,139,146);
    color:rgb(133,139,146) ;
    width:fit-content;
    text-decoration: none;
 }
 .example .email-ex .ex:hover{
  color: rgb(30,151,187);
  border-bottom: none;
 }
 .example .social-ex{
    color:rgb(133,139,146) ;
    display:flex;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    justify-content: space-around;
    align-content: center;
  
 }
 .example .social-ex .title{
    text-decoration: none;
    /* margin-left: 45px; */
    /* grid-area: 1/1/2/2; */
    grid-area:4/1/5/2 ;
 }
 .example .social-ex .ex{
    color:rgb(133,139,146) ;
    /* display: flex; */
    justify-content:center;
    gap: 10px;
    text-align: center;
    text-decoration: none;
    grid-area:4/1/5/3 ;
    align-items: center;

 }
 .example .social-ex .ex .fa{
   padding: 10px;
    border-radius:50%;
    border: 1px solid lightgray;
    font-size: 20px;

    
 }
 .example .social-ex .ex .fa:hover{
  color: rgb(30,151,187);
  border-radius:50%;
  border: 1px solid rgb(30,151,187);
 }
 #header a:hover{
   color: rgb(30,151,187);
   border: 5px solid rgb(30,151,187);
 }
