.page-title{
    text-align: center;
    color: white;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    gap: 10px;
   
}
.page-title h1{
    font-size: 60px;
    letter-spacing: 0.075cm;
}
.page-title p{
    font-size: 20px;
    line-height: 2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.page-title p a{
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none;
}
.page-title p a:hover{
color: rgb(30,151,187);
transition: 0.3s;
border-bottom: none;
}
.page-title .fa-arrow-circle-o-down{
    font-size: 48px;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.page-title .fa-arrow-circle-o-down:hover{
    color: rgb(30,151,187);
    transition: 0.3s; 
}

 button {
  padding: 15px;
  margin: 40px;
  border: 2px solid black;
  width: 150px;
  background-color: white;
}
.container .cards{
    display: grid;
    grid-template-columns:repeat(2,1fr);
     text-align: center;
     line-height: 30px;
     width: 100%;
} 
.container .cards .card1{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 100%;
}
.container .cards .card1 .adress{
    font-size: 30px;
}
.container .cards .card1 .adress:hover{
    color: rgb(30,151,187);
    cursor: pointer;
}
.container .cards .card1 .card-img{
    width: 80%;
    margin-top: 30px;
}
.container .cards .card1 p{
    font-size: 20px;
    width: 80%;
    color: rgb(114,130,148);
    margin-left: 40px;
}
.container .cards .card1 button:hover{
    color: rgb(30,151,187);
    cursor: pointer;
    border: 1px solid rgb(30,151,187);
}
.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: .3s;
    border: 1px solid #ddd;
    font-weight: bold;
  }
  .pagination a.active {
    background-color:lightgrey;
  }
  .pagination a:hover {
    border:1px solid rgb(30,151,187);
    color: rgb(30,151,187);
}



