.container .parag{
    padding: 70px;
    line-height: 3;
    border-bottom: 1px solid lightgray;
    width: 90%;
    font-size: 20px;
    margin: auto;
}
.container .parag i{
    color: gray;
    margin-top: 30px;
}
.container .parag p{
     color: gray;
}
/* .container h4{
    padding-top: 30px;
    width: 90%;
    margin: auto;
} */
/* .container h5{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    padding: 50px;
} */
.container .parag mark{
    background-color:rgb(250,250,250) ;
    border: 1px solid rgb(249,249,249);
}
.parag p a{
    border-bottom: 1px dotted black; 
}
.parag p a:hover{
    color: rgb(30,151,187);
    cursor: pointer;
    border: none;
}
.list{
    line-height: 2;
    width: 90%;
    font-size: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.list h3{
    width: 70%;
}
/* .container .list-title{
    width: 90%;
    margin: auto;
} */
.list .unordered{
   grid-area: 1/1/3/2;
   padding-left: 50px; 
}
.list .ordered{
    grid-area: 1/2/3/3;
}
.list .alternative{
    margin-top: 30px;
   grid-area: 3/1/5/2;
   padding-left: 50px;
}
.list .icons{
    display: flex;
    gap: 6%;
    padding-top: 5%;
}
.list .icons .social{
    display:flex;
    flex-direction: column;
    grid-area: 4/2/5/3;
}
.list .icons .social2{
    display:flex;
    flex-direction: column;
    grid-area: 3/2/4/3;
}
.list .icons .social .fa{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    gap: 20px;
}
.list .icons .social2 .fa{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    gap: 20px;
}
.list .icons .social .fa:hover{
    color: #55C0EF;
    transition: .4s;
}
/* .container h1{
  width: 90%;
  margin: auto;
  padding: 50px;
} */
/* .container h3{
    width: 90%;
    margin: auto;
} */
.container .ACTIONS{
    padding: 70px;
    line-height: 2;
    border-bottom: 1px solid lightgray;
    width: 90%;
    font-size: 20px;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
}
.ACTIONS .left-action .row1 a{
    border: 2px solid black;
    text-decoration: none;
    color: black;
    line-height: 3;
    padding: 10px;
}
.ACTIONS .left-action .row1 .black{
    border: 2px solid black;
    text-decoration: none;
    color: white;
    line-height: 4;
    padding: 10px;
    background-color: black;
}
.ACTIONS .right-action .row1 a
{ 
    border: 2px solid black;
    text-decoration: none;
    color: black;
    line-height: 3;
    padding: 10px;
}
.ACTIONS .right-action .row1 .black{
    border: 2px solid black;
    text-decoration: none;
    color: white;
    line-height: 4;
    padding: 10px;
    background-color: black;
}
.ACTIONS .row2 a{
    width: 80%;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    line-height: 3;
    padding: 10px;
}
.ACTIONS .row2 .black{
    border: 2px solid black;
    text-decoration: none;
    color: white;
    line-height: 4;
    padding: 10px;
    background-color: black;
    width: 80%;
}
.quote p{
border-left: 2px solid lightgray;
font-size: 20px;
margin: auto;
padding: 20px;
}
.quote{
padding: 40px;
line-height: 2;
border-bottom: 1px solid lightgray;
width: 90%;
font-size: 20px;
margin: auto;

}
.tab-tit{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.table{
padding: 50px;
line-height: 3;
width: 90%;
font-size: 20px;
margin: auto;
border-collapse: collapse;
}
.table tr:nth-child(even)
{background-color: rgb(246,246,246);}
.table2 {
    line-height: 3;
    width: 90%;
    font-size: 20px;
    margin: auto;
    border-collapse: collapse;
    }
 .table2 td{
        border: 1px solid #E2E2E2;
         }
.table2 tr:nth-child(even)
{background-color: rgb(246,246,246);}
.button{
    line-height: 4;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid lightgray;
}
.button button{
    cursor: pointer;
    padding: 15px;
    border: 2px solid black;
    font-weight: bold;
    margin: 10px;
}
.button button:hover{
    color: rgb(30,151,187);
    border: 2px solid  rgb(30,151,187);
}
.button .black{
    border: 2px solid black;
    color: white;
    background-color: black;
    font-weight: bold;
}
.button .row2 .black
{
    height: 60px;
}
.button .row2 .small
{
    height: 40px;
}
.button .row3 button{
    width: 40%;
}
.button .row4 button{
    width: 40%;
}
.button .row5 button{
    width: 15%;
}
.button .row6 button{
    opacity: 0.6;
    cursor:none;
}
.form-ref{
    padding: 40px;
    line-height: 3;
    border-bottom: 1px solid lightgray;
    width: 80%;
    font-size: 20px;
    margin: auto;
}
.form-ref .text{
    width: 48%;
    height: 40px;
    padding: 10px;
    border: 1px solid #C4C4C4;
}
.form-ref select{
    width: 97%;
    height: 40px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    background-color: white;
}
.form-ref .radio{
 display: flex;
 justify-content: space-around;
}
.form-ref .checkbox{
    display: flex;
 justify-content: space-around;
}
.form-ref .textarea{
    border: 1px solid #C4C4C4;
}
.form-ref .textarea:hover{
    border: 1px solid rgb(30,151,187);
}
.form-ref .btn button{
    padding: 10px;
    border: 2px solid black;
}
.form-ref .btn .black{
    background-color: black;
    color: white;
}
.form-ref .btn button:hover{
    color:rgb(30,151,187);
    border: 2px solid rgb(30,151,187);
}
.form-ref .btn .black:hover{
    color:white;
    background-color:rgb(30,151,187);
    border: 1px solid rgb(30,151,187);

}
.picture {
    width: 90%;
    margin: auto;
}
.pictures {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: auto;
    padding: 70px;
    line-height: 2;
}
.pictures img{
    width: 32%;
    margin-left: 5px;
}
.left-right{
    width: 100%;
    margin: auto;
    padding: 50px;
    line-height: 3;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
}
.left-right .left{
    float: left;
    width: 25%;
    margin-right: 10px;
    margin-top: 20px;
}
.left-right .right{
    float: right;
    width: 25%;
    margin-top: 20px;
}
.box{
    width: 80%;
    margin: auto;
   
    line-height: 3;
    border-bottom: 1px solid gray;
    font-size: 18px;
}
.box p{
    border: 1px solid gray;
    padding: 25px;
}
.code{
    width: 80%;
    margin: auto;
   background-color: rgb(246,246,246);
    line-height: 3;
    font-size: 14px;
}
